table {
    border: 1px solid black;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.note-on {
    background-color: yellow;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.metroTable {
border-collapse: collapse;
text-align: center;
}
.table, td, th {
border: 1px solid black;
}

.tickA{
    background-color: rgb(241, 80, 80);
}

.tickB{
    background-color: rgb(255, 194, 199);
}